:root {
    --color-ligth: #F0E6EF;
    --color-pink-ligth: #efc3e6;
    --color-pink: #F0A6CA;
    --color-blue-ligth: #B8BEDD;
    --color-purple-ligth: #9C89B8;
    --color-violet: #735D78;
    --color-purple: #231942;
}

/*Pesonalizações Gerais*/
body {
    padding: 0;
    margin: 0;
    background-color: var(--color-blue-ligth);
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-purple);
}

button {
    margin: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-purple);
}

/*Header Geral*/
.fundo-header{
  height: 130px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:9999;
    height: 80px;
    width: 100%;
    top: 24px;
    background: var(--color-pink-ligth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    border-top: 2px solid var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 110px;
    margin-left: 50px;
    border-radius: 10px;
    background: var(--color-pink-ligth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-purple);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.borda-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--color-pink-ligth);
    border: var(--color-purple) solid 2px;
}

.logo img {
    width: 84px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    color: var(--color-violet);
    width: 70%;
    justify-content: space-evenly;
}

/*Página do Index*/

.banner {
    position: relative;
}

.banner .container div .library {
    z-index:9999;
    position: relative;
    color: var(--color-purple);
    top: 300px;
    font-size: 3rem;
    left: 7.5%;
    background-color: rgba(239, 195, 230, 0.479);
    margin: 50px;
}

.banner .container div {
    width: 100%;
    height: 100vh;
    min-height: 350px;
    margin: 0;
    position: relative;
    background-color: #111;
    background-image: linear-gradient(to top, #222 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%), linear-gradient(to right, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%), linear-gradient(to right, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%), linear-gradient(to right, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%), linear-gradient(to right, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%), linear-gradient(to right, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), linear-gradient(to right, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%), linear-gradient(to right, transparent 21%, #222 21%, #1a1a1a 25%, transparent 25%), linear-gradient(to right, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%), linear-gradient(to right, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #222 96%, #1a1a1a 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%), linear-gradient(to right, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
}

.banner .container div:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111;
    background-image: linear-gradient(to top, #d2b48c 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #b22222, #871a1a 5%, transparent 5%), linear-gradient(to right, transparent 6%, #ff6347 6%, #ff3814 9%, transparent 9%), linear-gradient(to right, transparent 27%, #556b2f 27%, #39481f 34%, transparent 34%), linear-gradient(to right, transparent 51%, #fa8072 51%, #f85441 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #008080 42%, #004d4d 44%, transparent 44%), linear-gradient(to right, transparent 45%, #008080 45%, #004d4d 47%, transparent 47%), linear-gradient(to right, transparent 48%, #008080 48%, #004d4d 50%, transparent 50%), linear-gradient(to right, transparent 87%, #789 87%, #4f5d6a 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #bdb76b 14%, #989244 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #808000 10%, #4d4d00 13%, transparent 13%), linear-gradient(to right, transparent 21%, #8b4513 21%, #5e2f0d 25%, transparent 25%), linear-gradient(to right, transparent 58%, #8b4513 58%, #5e2f0d 64%, transparent 64%), linear-gradient(to right, transparent 92%, #2f4f4f 92%, #1c2f2f 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #2f4f4f 96%, #1c2f2f 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #cd5c5c 35%, #bc3a3a 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #bc8f8f 78%, #bc8f8f 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #bc8f8f 83%, transparent 83%), linear-gradient(to right, transparent 66%, #a52a2a 66%, #7c2020 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
    clip-path: circle(150px at center center);
    animation: flashlight 5000ms infinite;
  }

  .banner .container div:after {
    content: '';
    width: 25px;
    height: 10px;
    position: absolute;
    left: calc(50% + 59px);
    bottom: 100px;
    background-repeat: no-repeat;
  }

  @keyframes flashlight {
    0%, 9% {
      opacity: 0;
      clip-path: circle(150px at 45% 10%);
    }
    10%, 15%, 85% {
      opacity: 1;
    }
    50% {
      clip-path: circle(150px at 60% 20%);
    }
    54%, 100% {
      clip-path: circle(150px at 55% 92%);
    }
    88%, 100% {
      opacity: 0;
    }
  }

.sobre-mim {
    margin-top: -10vh;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre-mim .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding: 30px;
}

.sobre-mim h1 {
    width: 80%;
    text-align: center;
}

.sobre-mim .container .img-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.sobre-mim .container .foto1-banner {
    background-color: var(--color-violet);
    width: 300px;
    height: 300px;
    transform: rotate(17.67deg);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sobre-mim .container img {
    height: 300px;
    position: absolute;
    transform-origin: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sobre-mim .container .texto-index {
  width: 50%;
}

.banner3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: var(--color-pink);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner3 .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
}

.banner3 .container .texto-index {
  width: 40%;
}

.banner3 .img-banner img{
  width: 600px;
  transform-origin: center;
  position: absolute;
  margin-top: -395px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner3 .container .img-banner .foto2-banner {
  background-color: var(--color-violet);
  margin-top: -115px;
  width: 600px;
  height: 380px;
  transform: rotate(-17.67deg);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.explicacao {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.explicacao .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.explicacao .container .text-index {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.explicacao .container .text-index .descricao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.explicacao .container .text-index .descricao img {
  width: 90px;
  margin-right: 20px;
}

.fundo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.fundo-card .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: var(--color-purple-ligth);
  border-radius: 5px;
}

.fundo-card .card img {
  width: 80%;
  margin-top: 10px;
}

.fundo-card .card .botoes-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-bottom: 10px;
}

.fundo-card .card .botoes-card img{
  width: 50px;
}
/*Fim do Index*/


/*Página de usuário*/

/*Carossel*/
.caroussel{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: -54px;
}

.fundo-caroussel {
  width: 100%;
  height: 85vh;
}

.caroussel .fundo-caroussel .library {
    z-index:9999;
    position: relative;
    color: var(--color-purple);
    top: 300px;
    font-size: 3rem;
    left: 7.5%;
    background-color: rgb(239, 195, 230);
    margin: 50px;
}

.slides {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Fim Caroussel*/

/*cards*/
.line {
  background-color: var(--color-purple);
  width: 80%;
  height: 1px;
}

.total-cards {
  width: 100%;
  height: 160vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-cards .agroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.total-cards .agroup h1 {
  color: var(--color-purple);  
}

.total-cards .agroup .line {
  background-color: var(--color-purple);
  width: 500px;
  height: 1px;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45%;
}

.cards .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 15%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background-color: var(--color-pink-ligth);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.1, 1.1);
}

.img-card{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.img-card img{
  width: 100%;
  object-fit: cover;
}
/*fim cards*/

/*Área dos autores*/
.total-autores {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;
}

.total-autores .agroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  padding-bottom: 30px;
}

.total-autores .agroup h1 {
  color: var(--color-purple);  
}

.total-autores .agroup .line {
  background-color: var(--color-purple);
  width: 500px;
  height: 1px;
}

.total-autores .container {
  width: 90%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.total-autores .container .agrupar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  text-align: center;
}

.total-autores .container .agrupar .autores {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-violet);
  cursor: pointer;
}

.total-autores .container .agrupar .autores:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.1, 1.1);
}

.total-autores .container .autores .img-autor {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
}

/*Fim da área dos autores*/


/*Corpo contato*/
.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    height: 450px;
}

.contato .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 400px;
}

.div-contato {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-login #informacoes input{
    width: 300px;
    height: 30px;
    background: var(--color-pink-ligth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.div-contato #informacoes h3 {
    margin-bottom: 5px;
    color: var(--color-purple);
}

.div-contato .informacoes .mensagem {
    display: flex;
    text-align: justify;
    height: 150px;
}
/*Fim corpo contato*/


/*Corpo cadastro*/
.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    height: 75vh;
}

.cadastro .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 400px;
}

/*Conteúdo a esquerda do cadatro*/
.div-esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 400px;
    flex-direction: column;
}

.div-esquerda .img-lateral img{
    width: 300px;
    align-items: center;
}

.btn-lateral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.btn-lateral a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    background: var(--color-pink-ligth);
    border: 1px solid var(--color-purple);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn-lateral a:hover {
    background-color: var(--color-violet);
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    transition: all .5s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
/*Conteudo a direita do cadastro*/
.div-cadastro {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-cadastro input{
    width: 300px;
    height: 30px;
    background: var(--color-pink-ligth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.div-cadastro h3 {
    margin-bottom: 5px;
    color: var(--color-purple);
}

.div-cadastro #form_cadastro .mensagem {
    height: 150px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    background: var(--color-pink-ligth);
    border: 1px solid var(--color-purple);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-violet);
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    transition: all .5s;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}
  
.loading-div img {
    height: 50px;
    width: 50px;
}
/*Fim corpo cadastro*/
  

/*Rodapé*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
    background: var(--color-pink-ligth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.borda-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    border-top: 2px solid var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.redes-sociais img{
    width: 40px;
}

.copy {
    width: 300px;
    color: var(--color-purple);
}